<h3 style="text-align: center">Enter Recipe Details</h3>
<div class="row">
  <div class="col-xs-6">
    <label for="">Recipe Name</label>
  </div>
  <div class="col-xs-6"><input type="text"></div>
</div>

<div class="row">
  <div class="col-xs-6">
    <label for="">Recipe Image Path</label>
  </div>
  <div class="col-xs-6"><input type="text"></div>
</div>
<div class="row">
  <div class="col-xs-6">
    <label for="">Recipe Description</label>
  </div>
  <div class="col-xs-6"><input type="text"></div>
</div>
<div class="row">
  <div class="col-xs-6">
    <label for="">Recipe Ingredient Name</label>
  </div>
  <div class="col-xs-6"><input type="text"></div>
</div>

<div class="row">
  <div class="col-xs-6">
    <label for="">Recipe Ingredient Quantity</label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 d-flex">
    <button type="text" class="btn btn-primary" *ngIf="editMode">Update</button>
    <button type="text" class="btn btn-primary" *ngIf="!editMode">Create</button>
  </div>
</div>



