<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" nativeFormValidators>
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control is-valid"
            [class.error]="name.invalid && name.touched"
            name="name"
            ngModel
            #name="ngModel"
            required
          />
          <small style="color: red" [class.none]="name.valid || name.untouched"
            >Please Enter Name</small
          >
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            class="form-control"
            ngModel
            #amount="ngModel"
            required
            min="0"
          />
          <small
            style="color: red"
            [class.none]="amount.valid || amount.untouched"
            >Please Enter Valid Amount</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            style="margin-right: 1em"
            [disabled]="form.invalid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            style="margin-right: 1em"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            type="reset"
            style="margin-right: 1em"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
